
<div class="container">
	<div class="col-xs-12 col-md-6 col-lg-8 embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d277319.3142098125!2d-86.16446480685755!3d39.829989533252764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1500473259765" width="600" height="450" frameborder="3" style="border:3px solid black;width: 100%" allowfullscreen></iframe>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-4">
		<h1>Users Go Here</h1>
	</div>
	
</div>