
<div class="container">
	<div class="col-xs-12 col-md-6 col-lg-8 embed-responsive embed-responsive-16by9">
		<h3>User Map</h3>
		<div id="map"></div>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-4 panel panel-default">
		<div class="panel-heading"><h3>Users</h3></div>
		<div ng-repeat="x in ctrl.users">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5>{{x.username}}</h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-4">
							<p>{{x.email}}</p>
						</div>
						<div class="col-4">
							<p>{{x.address.street}}</p>
						</div>
						<div class="col-4">
							<p>{{x.address.city}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>